.el-row {
    width: 100%;
}


/* 如果需要滚动条 */


/* 滚动条整体部分 */

::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}


/* 滑块 */

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #3FC5F0;
}


/* 轨道 */

 ::-webkit-scrollbar-track {
    border-radius: 10px;
}

.not_full {
    width: 90%;
    margin: 0 auto;
}