* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
    color: #333;
}

html,
body {
    height: 100vh;
    width: 100%;
    font-family: "思源黑体", "Arial", "Microsoft YaHei", "黑体", "宋体", "微软雅黑", sans-serif;
}

a {
    text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* custom */

a {
    color: #7e8c8d;
    text-decoration: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}


/*清除浮动*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: inline-block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}


/*隐藏*/

.dn {
    display: none;
}